.cell{
    position: absolute;
    margin: 0;
}


.blankCell{

    background-color: #19d863;
}  
    
.fruitCell{
        background-color: red;
}
    
.snakeCell{
    
        background-color: black;
}